In [1]:
import requests
import json
import pprint as pprint
import prettytable
import pandas as pd
import csv

In [2]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()
# This code writes to two text files in the current dir CUUR0000SA0 (Inflation & Prices average) and SUUR0000SA0 (chained CPI).

In [3]:
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 216,
 'message': [],
 'Results': {'series': [{'seriesID': 'CUUR0000SA0',
    'data': [{'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '234.812',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '236.151',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '237.433',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '238.031',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '237.852',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '238.250',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '238.343',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '237.900',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M04',
      'periodName': 'April',
      'value': '237.072',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M03',
      'periodName': 'March',
      'value': '236.293',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M02',
      'periodName': 'February',
      'value': '234.781',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M01',
      'periodName': 'January',
      'value': '233.916',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M12',
      'periodName': 'December',
      'value': '233.049',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M11',
      'periodName': 'November',
      'value': '233.069',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M10',
      'periodName': 'October',
      'value': '233.546',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M09',
      'periodName': 'September',
      'value': '234.149',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M08',
      'periodName': 'August',
      'value': '233.877',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M07',
      'periodName': 'July',
      'value': '233.596',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M06',
      'periodName': 'June',
      'value': '233.504',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M05',
      'periodName': 'May',
      'value': '232.945',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M04',
      'periodName': 'April',
      'value': '232.531',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M03',
      'periodName': 'March',
      'value': '232.773',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M02',
      'periodName': 'February',
      'value': '232.166',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M01',
      'periodName': 'January',
      'value': '230.280',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M12',
      'periodName': 'December',
      'value': '229.601',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M11',
      'periodName': 'November',
      'value': '230.221',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M10',
      'periodName': 'October',
      'value': '231.317',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M09',
      'periodName': 'September',
      'value': '231.407',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M08',
      'periodName': 'August',
      'value': '230.379',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M07',
      'periodName': 'July',
      'value': '229.104',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M06',
      'periodName': 'June',
      'value': '229.478',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M05',
      'periodName': 'May',
      'value': '229.815',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M04',
      'periodName': 'April',
      'value': '230.085',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M03',
      'periodName': 'March',
      'value': '229.392',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M02',
      'periodName': 'February',
      'value': '227.663',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M01',
      'periodName': 'January',
      'value': '226.665',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M12',
      'periodName': 'December',
      'value': '225.672',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M11',
      'periodName': 'November',
      'value': '226.230',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M10',
      'periodName': 'October',
      'value': '226.421',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M09',
      'periodName': 'September',
      'value': '226.889',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M08',
      'periodName': 'August',
      'value': '226.545',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M07',
      'periodName': 'July',
      'value': '225.922',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M06',
      'periodName': 'June',
      'value': '225.722',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M05',
      'periodName': 'May',
      'value': '225.964',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M04',
      'periodName': 'April',
      'value': '224.906',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M03',
      'periodName': 'March',
      'value': '223.467',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M02',
      'periodName': 'February',
      'value': '221.309',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M01',
      'periodName': 'January',
      'value': '220.223',
      'footnotes': [{}]}]},
   {'seriesID': 'SUUR0000SA0',
    'data': [{'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '134.207',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '135.107',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '135.891',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '136.211',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '136.127',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '136.392',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '136.433',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '136.216',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M04',
      'periodName': 'April',
      'value': '135.771',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M03',
      'periodName': 'March',
      'value': '135.375',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M02',
      'periodName': 'February',
      'value': '134.542',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M01',
      'periodName': 'January',
      'value': '134.017',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M12',
      'periodName': 'December',
      'value': '133.509',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M11',
      'periodName': 'November',
      'value': '133.596',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M10',
      'periodName': 'October',
      'value': '133.876',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M09',
      'periodName': 'September',
      'value': '134.255',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M08',
      'periodName': 'August',
      'value': '134.098',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M07',
      'periodName': 'July',
      'value': '133.919',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M06',
      'periodName': 'June',
      'value': '133.900',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M05',
      'periodName': 'May',
      'value': '133.626',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M04',
      'periodName': 'April',
      'value': '133.421',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M03',
      'periodName': 'March',
      'value': '133.558',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M02',
      'periodName': 'February',
      'value': '133.204',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M01',
      'periodName': 'January',
      'value': '132.137',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M12',
      'periodName': 'December',
      'value': '131.770',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M11',
      'periodName': 'November',
      'value': '132.208',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M10',
      'periodName': 'October',
      'value': '132.892',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M09',
      'periodName': 'September',
      'value': '132.988',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M08',
      'periodName': 'August',
      'value': '132.430',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M07',
      'periodName': 'July',
      'value': '131.731',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M06',
      'periodName': 'June',
      'value': '131.956',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M05',
      'periodName': 'May',
      'value': '132.154',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M04',
      'periodName': 'April',
      'value': '132.284',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M03',
      'periodName': 'March',
      'value': '131.905',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M02',
      'periodName': 'February',
      'value': '130.953',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M01',
      'periodName': 'January',
      'value': '130.438',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M12',
      'periodName': 'December',
      'value': '129.844',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M11',
      'periodName': 'November',
      'value': '130.196',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M10',
      'periodName': 'October',
      'value': '130.373',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M09',
      'periodName': 'September',
      'value': '130.635',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M08',
      'periodName': 'August',
      'value': '130.351',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M07',
      'periodName': 'July',
      'value': '129.983',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M06',
      'periodName': 'June',
      'value': '129.846',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M05',
      'periodName': 'May',
      'value': '129.999',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M04',
      'periodName': 'April',
      'value': '129.483',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M03',
      'periodName': 'March',
      'value': '128.585',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M02',
      'periodName': 'February',
      'value': '127.363',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M01',
      'periodName': 'January',
      'value': '126.778',
      'footnotes': [{}]}]}]}}

In [4]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['WMU00140201020000001300002500'],"startyear":"2019", "endyear":"2020"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

# WMU40000011020000004130992500 Modeled Wage Estimates

In [6]:
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 211,
 'message': ['No Data Available for Series WMU00140201020000001300002500 Year: 2020'],
 'Results': {'series': [{'seriesID': 'WMU00140201020000001300002500',
    'data': [{'year': '2019',
      'period': 'A01',
      'periodName': 'Annual',
      'latest': 'true',
      'value': '31.53',
      'footnotes': [{}]}]}]}}

In [9]:
#QUERY BUILDING. KEEP THIS CODE AS TEMPLATE.
Base_Series = "WMU"
Area = "0014020" # Geographical (change this)
Ownership = "1" # Civilian owned DO NOT CHANGE (?)
Estimate = "02" # Hourly wage DO NOT CHANGE!
Industry = "000000" # All Industries DO NOT CHANGE!
Occupation = "130000" # Occupation type (change this)
Job_Char = "25" # Full Time etc. (change, but only nice to have change)
Level = "00" # all levels (can change. 01-15, the higher the more skilled. 16 is cannot be leveled. need to play)
Query_Series = Base_Series+\
                Area+\
                Ownership+\
                Estimate+\
                Industry+\
                Occupation+\
                Job_Char+\
                Level

In [10]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": [Query_Series],"startyear":"2011", "endyear":"2019"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [11]:
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 256,
 'message': ['No Data Available for Series WMU00140201020000001300002500 Year: 2011',
  'No Data Available for Series WMU00140201020000001300002500 Year: 2012',
  'No Data Available for Series WMU00140201020000001300002500 Year: 2013',
  'No Data Available for Series WMU00140201020000001300002500 Year: 2014',
  'No Data Available for Series WMU00140201020000001300002500 Year: 2015',
  'No Data Available for Series WMU00140201020000001300002500 Year: 2016',
  'No Data Available for Series WMU00140201020000001300002500 Year: 2017',
  'No Data Available for Series WMU00140201020000001300002500 Year: 2018'],
 'Results': {'series': [{'seriesID': 'WMU00140201020000001300002500',
    'data': [{'year': '2019',
      'period': 'A01',
      'periodName': 'Annual',
      'latest': 'true',
      'value': '31.53',
      'footnotes': [{}]}]}]}}

In [15]:
url = "https://download.bls.gov/pub/time.series/wm/wm.subcell"
response = requests.get(url).text

In [16]:
response

'subcell_code\tsubcell_text\tdisplay_level\tselectable\tsort_sequence\r\n00\tAll workers\t1\tT\t2\r\n23\tUnion\t1\tT\t6\r\n24\tNonunion\t1\tT\t7\r\n25\tFull-time\t1\tT\t3\r\n26\tPart-time\t1\tT\t4\r\n27\tTime-based pay\t1\tT\t9\r\n28\tIncentive-based pay\t1\tT\t10\r\nAD\tBargaining Status\t0\tF\t5\r\nAE\tWork Status\t0\tF\t1\r\nAF\tTime and Incentive Status\t0\tF\t8\r\n'

In [17]:
no_r_list = response.split('\r\n')
no_t_list = [row.split('\t') for row in no_r_list]
no_t_list[0][0]
dictionary={no_t_list[i][0]: no_t_list[i][1] for i in range(len(no_t_list)-1)}
inv_dictionary={no_t_list[i][1]: no_t_list[i][0] for i in range(len(no_t_list)-1)}
print(dictionary)
print(inv_dictionary)

{'subcell_code': 'subcell_text', '00': 'All workers', '23': 'Union', '24': 'Nonunion', '25': 'Full-time', '26': 'Part-time', '27': 'Time-based pay', '28': 'Incentive-based pay', 'AD': 'Bargaining Status', 'AE': 'Work Status', 'AF': 'Time and Incentive Status'}
{'subcell_text': 'subcell_code', 'All workers': '00', 'Union': '23', 'Nonunion': '24', 'Full-time': '25', 'Part-time': '26', 'Time-based pay': '27', 'Incentive-based pay': '28', 'Bargaining Status': 'AD', 'Work Status': 'AE', 'Time and Incentive Status': 'AF'}

In [18]:
# DICTIONARY BUILDING. KEEP THIS CODE AS TEMPLATE.

url = "https://download.bls.gov/pub/time.series/wm/wm.area" #more complex
#url="https://download.bls.gov/pub/time.series/wm/wm.occupation" #more complex
response = requests.get(url).text

no_r_list = response.split('\r\n')
no_t_list = [row.split('\t') for row in no_r_list]
no_t_list[0][0]

dictionary={}

dictionary[url[url.rfind(".")+1::]]={no_t_list[i][0]: no_t_list[i][1] for i in range(len(no_t_list)-1)}
inv_dictionary[url[url.rfind(".")+1::]]={no_t_list[i][1]: no_t_list[i][0] for i in range(len(no_t_list)-1)}

print(dictionary["area"]["0012420"])
print(inv_dictionary["area"]["Austin-Round Rock, TX"])

Austin-Round Rock, TX
0012420