In [1]:
import pandas as pd
import numpy as np

In [2]:
#pulling in job csv
jobs_ = "../data/Job Postings.csv"
jobs_df = pd.read_csv(jobs_)

In [3]:
#pulling in covid/merchant csv
covidmerchant_ = "../output_files/covidmerchant.csv"
covidmerchant_df = pd.read_csv(covidmerchant_)

In [4]:
#merging jobs/covid/merchants
covidmerchantjobs_df = pd.merge(covidmerchant_df,jobs_df, on=['cityid'], how='outer', suffixes=('_cvm','_jobs'))

In [5]:
#changing cityname to City Name to match cost of living
cv19bizjob_df = covidmerchantjobs_df.rename(columns={"cityname": "City Name"})

In [6]:
#pulling in living csv
living_ = "../output_files/cost_of_living.csv"
living_df = pd.read_csv(living_)

In [7]:
#adding 1 bedroom true cost (if needed)
living_df["1 Bedroom True Cost"]=living_df.iloc[:,[1,3]].sum(axis=1)

#adding 3 bedroom true cost (if needed)
living_df["3 Bedroom True Cost"]=living_df.iloc[:,[2,3]].sum(axis=1)

#adding Average true cost (if needed)
living_df["Avg True Cost"]=living_df.iloc[:,[4,5]].mean(axis=1).round(2)

In [8]:
#merging all info together - covid/merhcnat/jobs/living
#replacing Nan values with "Data Not Available"
allinfo_df = pd.merge(cv19bizjob_df,living_df, on=['City Name'], how='outer')
allinfo_df = allinfo_df.replace({np.NaN: "Data Not Available"})

In [9]:
#keeping cityid lat lon citypop merchantsall(change to%) newcaserate bgpost avetrucost
allinfo_df = allinfo_df.drop(['year',
                        'month',
                        'day',
                        'Cost of 1 Bedroom Appartment',
                        'Cost of 3 Bedroom Appartment',
                        'Utilities Per Month',
                        '1 Bedroom True Cost',
                        '3 Bedroom True Cost',
                        'Merchants Difference',
                        'Difference plus 1'], axis = 1)

In [10]:
#pulling in covid/merchant csv
blsgeo_ = "../output_files/BLS_GEO_OCCUPATION_ALL_df_merge.csv"
blsgeo_df = pd.read_csv(blsgeo_,index_col=0)

In [11]:
#keeping geocitystate mwe occtypecode occtype skilllevel howpaid cityid
blsgeo_df = blsgeo_df.drop(['year',
                        'cityname',
                       'stateabbrev',
                        'statefips',
                        'lat',
                        'lon',
                        'city_pop2019',
                        'statename'], axis = 1)

In [12]:
#using a pivot table
ndf = blsgeo_df.pivot(index = "cityid", columns = 'MWE_Occupation Type', values = 'MWE')

In [13]:
#merging last df with pivot df
alldfs = pd.merge(allinfo_df,ndf, on=['cityid'], how='outer')

In [14]:
#replacing all values not accounted for as "Data Not Available"
alldfs = alldfs.replace({'Not Found': "Data Not Available", "-": "Data Not Available"})

In [15]:
#formatting the merchants_all column to percentage
alldfs['merchants_all'] = pd.Series(["{0:.2f}%".format(val * 100) for val in alldfs['merchants_all']], index = alldfs.index)

In [16]:
#import and clean hospital data
health_ = "../output_files/HealthData.csv"
health_df = pd.read_csv(health_)
#merge in hospital data
alldfs = pd.merge(health_df, alldfs, on=['cityid'], how='outer')

In [17]:
#droping more unneeded columns
alldfs = alldfs.drop(['Avg True Cost', 'Total Cost of 3 BHK ', 'Total Cost for 1 BHK '], axis = 1)
alldfs.columns

Index(['cityid', 'Health score', 'City Name', 'stateabbrev', 'lat', 'lon',
       'city_pop2019', 'merchants_all', 'new_case_rate', 'bg_posts',
       'Average Cost of Living ', 'Architecture and engineering occupations',
       'Arts, design, entertainment, sports, and media occupations',
       'Building and grounds cleaning and maintenance occupations',
       'Business and financial operations occupations',
       'Community and social service occupations',
       'Computer and mathematical occupations',
       'Construction and extraction occupations',
       'Educational instruction and library occupations',
       'Food preparation and serving related occupations',
       'Healthcare practitioners and technical occupations',
       'Healthcare support occupations',
       'Installation, maintenance, and repair occupations',
       'Legal occupations', 'Life, physical, and social science occupations',
       'Management occupations',
       'Office and administrative support occupations',
       'Personal care and service occupations', 'Production occupations',
       'Protective service occupations', 'Sales and related occupations',
       'Transportation and material moving occupations'],
      dtype='object')

In [18]:
parks_ = "../output_files/parks_score.csv"
parks_df = pd.read_csv(parks_)
alldfs = pd.merge(parks_df, alldfs, on=['cityid'], how='outer')

In [19]:
# Rename a couple columns
alldfs.rename(columns={'Average Cost of Living ': 'Average Cost of Living', 'Health score': 'Health Score',\
                       'city_pop2019_y':'City pop2019'})
alldfs.columns

Index(['cityid', 'Park Score', 'Health score', 'City Name', 'stateabbrev',
       'lat', 'lon', 'city_pop2019', 'merchants_all', 'new_case_rate',
       'bg_posts', 'Average Cost of Living ',
       'Architecture and engineering occupations',
       'Arts, design, entertainment, sports, and media occupations',
       'Building and grounds cleaning and maintenance occupations',
       'Business and financial operations occupations',
       'Community and social service occupations',
       'Computer and mathematical occupations',
       'Construction and extraction occupations',
       'Educational instruction and library occupations',
       'Food preparation and serving related occupations',
       'Healthcare practitioners and technical occupations',
       'Healthcare support occupations',
       'Installation, maintenance, and repair occupations',
       'Legal occupations', 'Life, physical, and social science occupations',
       'Management occupations',
       'Office and administrative support occupations',
       'Personal care and service occupations', 'Production occupations',
       'Protective service occupations', 'Sales and related occupations',
       'Transportation and material moving occupations'],
      dtype='object')

In [20]:
alldfs.set_index('cityid')

,Park Score,Health score,City Name,stateabbrev,lat,lon,city_pop2019,merchants_all,new_case_rate,bg_posts,...,"Installation, maintenance, and repair occupations",Legal occupations,"Life, physical, and social science occupations",Management occupations,Office and administrative support occupations,Personal care and service occupations,Production occupations,Protective service occupations,Sales and related occupations,Transportation and material moving occupations
cityid,,,,,,,,,,,,,,,,,,,,,
1,4.347368,4.233333,Los Angeles,CA,34.05,-118.24,10039107,-33.30%,18.60,0.05670,...,27.69,66.66,43.17,65.30,22.75,17.66,19.49,30.72,27.44,20.55
2,4.585000,3.784211,New York City,NY,40.71,-74.01,8336817,-42.00%,49.30,0.15300,...,26.79,62.45,37.96,76.33,23.84,18.49,20.70,30.25,34.97,22.50
3,4.676471,4.077778,Chicago,IL,41.88,-87.63,5150233,-39.60%,11.00,0.06270,...,25.95,86.08,36.51,61.09,22.17,16.88,19.94,29.72,29.11,13.76
4,4.529412,4.018182,Houston,TX,29.76,-95.37,4713325,-56.70%,14.50,0.06590,...,24.63,Data Not Available,44.73,61.53,20.21,15.28,22.11,22.10,26.62,14.26
5,4.425000,3.983333,Phoenix,AZ,33.45,-112.07,4485414,-29.30%,22.10,0.06770,...,23.82,57.36,30.27,54.71,19.94,Data Not Available,19.41,24.89,25.27,21.29
6,4.457895,3.953846,San Diego,CA,32.72,-117.16,3338330,-36.10%,21.80,0.00768,...,25.91,60.48,41.27,64.72,21.87,17.89,21.06,29.73,25.81,20.03
7,4.505882,3.375000,Dallas,TX,32.78,-96.80,2635516,-52.50%,13.70,0.01900,...,24.65,26.05,Data Not Available,62.31,19.97,15.45,18.69,24.69,26.93,21.91
8,4.353333,3.266667,Las Vegas,NV,36.17,-115.14,2266715,-28.40%,12.10,0.01050,...,25.47,50.54,33.14,55.35,18.76,14.68,18.75,24.81,22.75,12.19
9,4.106667,3.468750,Seattle,WA,47.61,-122.33,2252782,-25.90%,9.70,0.13600,...,29.65,53.58,39.88,67.91,23.73,20.94,25.56,31.77,30.97,25.32
10,4.444444,4.100000,Fort Worth,TX,32.76,-97.33,2102515,-52.40%,19.40,0.06190,...,24.65,26.05,Data Not Available,62.31,19.97,15.45,18.69,24.69,26.93,21.91
11,4.194737,3.586667,San Antonio,TX,29.42,-98.49,2003554,-62.90%,42.40,0.10600,...,22.30,47.42,32.74,55.47,18.22,14.14,17.74,11.76,23.08,17.57
12,3.942105,4.614286,San Jose,CA,37.34,-121.89,1927852,-40.50%,12.30,0.09220,...,30.81,85.96,42.53,83.75,25.86,18.76,22.64,16.91,35.23,21.16
13,4.400000,3.560000,Detroit,MI,42.33,-83.05,1749343,-38.00%,9.20,-0.00740,...,24.65,Data Not Available,Data Not Available,60.73,20.51,11.10,21.51,23.68,28.51,22.05
14,4.460000,3.578571,Philadelphia,PA,39.95,-75.17,1584064,-35.90%,21.80,0.13400,...,26.82,55.81,42.61,68.75,22.04,16.53,21.30,27.57,30.37,18.85
15,4.511111,3.107692,Columbus,OH,39.96,-83.00,1316756,-29.10%,15.90,0.02330,...,23.80,43.54,19.77,24.00,20.48,15.64,20.00,28.43,25.93,12.47
16,4.221053,3.280000,Austin,TX,30.27,-97.74,1273954,-63.90%,7.49,0.08920,...,22.88,50.96,33.42,59.72,20.04,10.80,18.62,25.57,27.16,17.64
17,4.335294,4.000000,Charlotte,NC,35.23,-80.84,1110356,-27.00%,26.50,0.02380,...,24.64,19.79,33.88,63.28,19.97,16.30,18.68,21.26,29.63,19.00
18,4.440000,3.945455,Indianapolis,IN,39.77,-86.16,964582,-35.60%,11.00,0.09780,...,23.37,20.43,38.22,53.06,20.36,16.46,19.06,22.94,29.84,18.10
19,4.188889,3.744444,Jacksonville,FL,30.33,-81.66,957755,-27.80%,21.80,0.01570,...,22.43,19.62,32.46,15.65,18.85,16.46,18.29,20.25,23.99,19.62
20,4.255000,3.909091,Memphis,TN,35.15,-90.05,937166,-56.40%,8.63,0.09340,...,23.11,47.24,31.16,51.40,18.96,14.52,18.37,19.46,24.57,17.95
21,4.435000,4.150000,San Francisco,CA,37.77,-122.42,881549,-51.20%,8.38,0.01150,...,31.20,51.69,48.46,77.02,26.36,19.85,23.68,35.32,12.88,13.70
22,4.430000,3.400000,El Paso,TX,31.78,-106.44,839238,-25.40%,33.90,0.05480,...,19.80,51.79,30.01,47.81,15.68,13.25,15.12,22.10,19.35,16.99
23,4.331579,3.705882,Baltimore,MD,39.29,-76.61,593490,-37.10%,9.68,0.28200,...,25.20,65.85,36.99,61.60,22.11,17.41,21.29,27.30,29.26,21.47
24,4.247059,4.600000,Portland,OR,45.52,-122.68,812855,-39.70%,7.21,0.13600,...,25.66,46.33,35.86,55.70,21.53,17.14,21.04,15.12,12.51,21.24
25,4.610526,4.233333,Boston,MA,42.36,-71.06,803907,-47.70%,23.20,0.33600,...,28.41,68.66,42.43,68.19,24.75,19.79,21.71,31.17,33.17,22.54
26,4.557143,3.910000,Oklahoma City,OK,35.47,-97.52,797434,-47.00%,15.70,0.05430,...,22.60,59.89,41.18,52.06,18.26,14.30,18.83,24.31,9.21,18.05
27,4.429412,3.463636,Louisville,KY,38.25,-85.76,766757,-42.20%,21.70,0.05800,...,23.59,24.02,34.93,49.72,18.58,15.80,19.77,18.86,24.25,21.10
28,4.026667,3.284615,Denver,CO,39.74,-104.99,727211,-27.90%,14.50,0.05430,...,26.43,61.37,38.97,69.85,22.19,17.30,20.91,29.32,32.18,14.16
29,4.325000,3.505882,Washington,DC,38.91,-77.04,705749,-44.70%,15.30,0.16800,...,27.85,94.92,47.39,74.49,24.18,11.04,21.38,27.97,30.90,21.80
30,4.494118,4.200000,Nashville,TN,36.16,-86.78,694144,-49.10%,15.40,0.17300,...,22.89,50.21,30.73,53.65,19.92,15.57,19.24,19.37,25.06,17.85
31,4.287500,3.984615,Milwaukee,WI,43.04,-87.91,945726,-28.80%,10.30,0.09400,...,25.04,53.59,19.61,61.22,20.98,16.90,19.91,27.11,29.77,19.22
32,4.318182,3.820000,Albuquerque,NM,35.09,-106.61,679121,-34.00%,14.10,0.07270,...,22.06,45.04,35.44,52.28,18.29,15.42,19.70,20.77,22.29,18.29
33,4.221053,4.333333,Tucson,AZ,32.22,-110.93,1047279,-27.70%,19.40,0.07190,...,21.35,47.25,30.74,48.18,18.25,16.04,19.78,23.28,12.24,18.11
34,3.985714,3.837500,Fresno,CA,36.75,-119.77,999101,-28.70%,18.70,0.22600,...,25.26,45.17,39.99,52.17,20.36,17.49,18.18,16.45,23.31,19.12
35,4.455556,3.892308,Sacramento,CA,38.58,-121.49,1552058,-33.90%,14.50,0.12000,...,26.50,57.72,38.27,25.48,21.99,16.65,21.26,33.85,25.81,19.59
36,4.418750,4.178571,Atlanta,GA,33.75,-84.39,1063937,-32.20%,22.00,0.06430,...,24.55,50.76,34.60,61.38,20.05,9.92,18.14,20.94,26.04,20.52
37,4.378947,3.744444,Kansas City,MO,39.10,-94.58,703011,-25.80%,5.18,0.02830,...,24.08,43.75,33.92,56.97,20.14,16.68,20.90,24.81,27.63,18.73
38,4.512500,4.411111,Miami,FL,25.76,-80.19,2716940,-32.50%,46.10,-0.03390,...,22.52,74.22,34.49,56.13,19.79,15.94,17.88,23.65,25.15,20.88
39,4.594737,4.480000,Raleigh,NC,35.78,-78.64,1111761,-29.50%,23.70,-0.11600,...,24.48,25.15,34.60,27.66,19.26,17.24,17.30,22.11,29.17,17.88
40,4.310000,4.085714,Omaha,NE,41.25,-96.00,571327,-21.10%,64.50,0.12400,...,23.91,44.80,33.63,51.90,19.53,15.48,18.86,25.04,25.30,18.86
41,4.568421,3.254545,Oakland,CA,37.80,-122.27,1671329,-36.50%,7.99,0.17000,...,31.20,51.69,48.46,77.02,26.36,19.85,23.68,35.32,12.88,13.70
42,4.435000,3.100000,Minneapolis,MN,44.98,-93.27,1265843,-26.40%,11.80,0.05660,...,27.16,49.46,38.70,62.75,22.54,16.93,21.18,32.97,30.57,20.74
43,4.331579,3.933333,Tampa,FL,27.95,-82.46,1471968,-38.30%,24.40,0.07920,...,21.76,42.82,32.62,55.18,18.91,16.00,17.99,24.63,25.45,18.10
44,4.100000,4.344444,New Orleans,LA,29.95,-90.07,390144,-46.20%,12.10,-0.11000,...,23.66,46.39,33.50,52.64,18.36,14.55,23.47,19.02,22.89,20.66
45,4.400000,3.300000,Wichita,KS,37.69,-97.34,516042,-29.40%,16.70,0.17400,...,24.40,33.65,30.27,50.16,18.70,16.93,23.25,21.88,10.05,18.93
46,4.194118,4.300000,Cleveland,OH,41.50,-81.69,1235072,-35.80%,12.90,-0.16500,...,23.99,21.44,32.32,57.53,20.52,16.23,19.91,24.40,27.68,19.59
47,4.141667,4.200000,Bakersfield,CA,35.37,-119.02,900202,-34.20%,22.50,0.23400,...,25.55,49.33,43.53,24.68,19.96,15.57,22.00,40.27,22.37,19.50
48,4.090000,4.061538,Honolulu,HI,21.31,-157.86,974563,-28.20%,2.89,0.19700,...,27.91,42.65,36.42,54.78,21.94,18.90,21.06,27.50,23.72,15.06
49,4.700000,4.408333,Boise,ID,43.62,-116.20,481587,-27.60%,89.90,0.05070,...,22.14,42.87,21.49,45.34,18.83,17.51,18.26,23.08,24.18,18.81
50,4.205556,3.175000,Salt Lake City,UT,40.76,-111.89,1160437,-24.70%,22.00,-0.05270,...,23.75,51.00,30.63,50.33,19.36,15.63,19.27,24.58,26.91,20.75
51,4.463158,5.000000,Virginia Beach,VA,36.85,-75.98,449974,-35.90%,25.20,0.11900,...,24.02,17.68,34.73,56.80,18.81,15.95,20.45,22.95,9.12,18.05
52,4.372222,4.163636,Colorado Springs,CO,38.83,-104.82,720403,-29.10%,22.10,0.05410,...,23.95,44.71,33.70,57.46,19.09,16.35,19.90,25.45,25.90,18.56
53,4.194118,3.509091,Tulsa,OK,36.15,-95.99,651552,-39.50%,29.20,0.21700,...,23.19,48.94,45.19,54.24,18.86,14.13,19.80,20.05,24.71,18.41

In [21]:
# in order to do ranking we need NaN to be in place
alldfs = alldfs.replace({"Data Not Available": float('NaN')})


# now creating another data frame to hold rankings. 
column_list = ['Park Score', 'Health score', 'city_pop2019', 'merchants_all', 'bg_posts',
       'Average Cost of Living ', 'Architecture and engineering occupations',
       'Arts, design, entertainment, sports, and media occupations',
       'Building and grounds cleaning and maintenance occupations',
       'Business and financial operations occupations',
       'Community and social service occupations',
       'Computer and mathematical occupations',
       'Construction and extraction occupations',
       'Educational instruction and library occupations',
       'Food preparation and serving related occupations',
       'Healthcare practitioners and technical occupations',
       'Healthcare support occupations',
       'Installation, maintenance, and repair occupations',
       'Legal occupations', 'Life, physical, and social science occupations',
       'Management occupations',
       'Office and administrative support occupations',
       'Personal care and service occupations', 'Production occupations',
       'Protective service occupations', 'Sales and related occupations',
       'Transportation and material moving occupations']
for i in column_list:
    print(i)
    alldfs[i+"_RANK"] = alldfs[i].rank(ascending = False, na_option='bottom')
alldfs['new_case_rate'+"_RANK"] = alldfs['new_case_rate'].rank(ascending = True)

Park Score
Health score
city_pop2019
merchants_all
bg_posts
Average Cost of Living
Architecture and engineering occupations
Arts, design, entertainment, sports, and media occupations
Building and grounds cleaning and maintenance occupations
Business and financial operations occupations
Community and social service occupations
Computer and mathematical occupations
Construction and extraction occupations
Educational instruction and library occupations
Food preparation and serving related occupations
Healthcare practitioners and technical occupations
Healthcare support occupations
Installation, maintenance, and repair occupations
Legal occupations
Life, physical, and social science occupations
Management occupations
Office and administrative support occupations
Personal care and service occupations
Production occupations
Protective service occupations
Sales and related occupations
Transportation and material moving occupations

In [22]:
# We also wanted to have an overall rank and overall score
rank_columns = [ 'Health score_RANK','Park Score_RANK',
       'city_pop2019_RANK', 'merchants_all_RANK', 'bg_posts_RANK',
       'Average Cost of Living _RANK',
       'new_case_rate_RANK']
alldfs['overall_SCORE'] = alldfs[[col for col in rank_columns]].sum(axis=1)
alldfs['overall_RANK'] = alldfs['overall_SCORE'].rank()


alldfs.columns

Index(['cityid', 'Park Score', 'Health score', 'City Name', 'stateabbrev',
       'lat', 'lon', 'city_pop2019', 'merchants_all', 'new_case_rate',
       'bg_posts', 'Average Cost of Living ',
       'Architecture and engineering occupations',
       'Arts, design, entertainment, sports, and media occupations',
       'Building and grounds cleaning and maintenance occupations',
       'Business and financial operations occupations',
       'Community and social service occupations',
       'Computer and mathematical occupations',
       'Construction and extraction occupations',
       'Educational instruction and library occupations',
       'Food preparation and serving related occupations',
       'Healthcare practitioners and technical occupations',
       'Healthcare support occupations',
       'Installation, maintenance, and repair occupations',
       'Legal occupations', 'Life, physical, and social science occupations',
       'Management occupations',
       'Office and administrative support occupations',
       'Personal care and service occupations', 'Production occupations',
       'Protective service occupations', 'Sales and related occupations',
       'Transportation and material moving occupations', 'Park Score_RANK',
       'Health score_RANK', 'city_pop2019_RANK', 'merchants_all_RANK',
       'bg_posts_RANK', 'Average Cost of Living _RANK',
       'Architecture and engineering occupations_RANK',
       'Arts, design, entertainment, sports, and media occupations_RANK',
       'Building and grounds cleaning and maintenance occupations_RANK',
       'Business and financial operations occupations_RANK',
       'Community and social service occupations_RANK',
       'Computer and mathematical occupations_RANK',
       'Construction and extraction occupations_RANK',
       'Educational instruction and library occupations_RANK',
       'Food preparation and serving related occupations_RANK',
       'Healthcare practitioners and technical occupations_RANK',
       'Healthcare support occupations_RANK',
       'Installation, maintenance, and repair occupations_RANK',
       'Legal occupations_RANK',
       'Life, physical, and social science occupations_RANK',
       'Management occupations_RANK',
       'Office and administrative support occupations_RANK',
       'Personal care and service occupations_RANK',
       'Production occupations_RANK', 'Protective service occupations_RANK',
       'Sales and related occupations_RANK',
       'Transportation and material moving occupations_RANK',
       'new_case_rate_RANK', 'overall_SCORE', 'overall_RANK'],
      dtype='object')

In [23]:
#resetting column order
fdf = alldfs[['cityid', 'City Name', 'stateabbrev', 'overall_RANK',
        'city_pop2019','city_pop2019_RANK', 'merchants_all',  'merchants_all_RANK',
        'new_case_rate', 'new_case_rate_RANK','bg_posts', 'bg_posts_RANK',
        'Average Cost of Living ', 'Average Cost of Living _RANK',
        'Architecture and engineering occupations', 'Architecture and engineering occupations_RANK',
        'Arts, design, entertainment, sports, and media occupations', 
        'Arts, design, entertainment, sports, and media occupations_RANK',
        'Building and grounds cleaning and maintenance occupations',
        'Building and grounds cleaning and maintenance occupations_RANK',
        'Business and financial operations occupations', 'Business and financial operations occupations_RANK',
        'Community and social service occupations', 'Community and social service occupations_RANK',
        'Computer and mathematical occupations', 'Computer and mathematical occupations_RANK',
        'Construction and extraction occupations', 'Construction and extraction occupations_RANK',
        'Educational instruction and library occupations', 'Educational instruction and library occupations_RANK',
        'Food preparation and serving related occupations', 'Food preparation and serving related occupations_RANK',
        'Healthcare practitioners and technical occupations', 'Healthcare practitioners and technical occupations_RANK',
        'Healthcare support occupations', 'Healthcare support occupations_RANK',
        'Installation, maintenance, and repair occupations', 'Installation, maintenance, and repair occupations_RANK',
        'Legal occupations', 'Legal occupations_RANK',
        'Life, physical, and social science occupations', 'Life, physical, and social science occupations_RANK',
        'Management occupations', 'Management occupations_RANK',
        'Office and administrative support occupations', 'Office and administrative support occupations_RANK',
        'Personal care and service occupations', 'Personal care and service occupations_RANK',
        'Production occupations', 'Production occupations_RANK',
        'Protective service occupations', 'Protective service occupations_RANK',
        'Sales and related occupations', 'Sales and related occupations_RANK',
        'Transportation and material moving occupations', 'Transportation and material moving occupations_RANK',
        'Park Score', 'Park Score_RANK',
        'Health score', 'Health score_RANK', 'overall_SCORE', 'lat', 'lon']]

In [24]:
fdf.to_csv('../output_files/MegaDf.csv', index = False)