In [3]:
#Defining Dependencies
import pandas as pd
import numpy as np
import import_ipynb as ipynb
from heatmaps import month_merge_df_reset
#importing df from heatmaps notebook

importing Jupyter notebook from heatmaps.ipynb

<string>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
#displaying imported df from heatmaps
month_merge_df_reset

,cityid,cityname,stateabbrev,lat,lon,city_pop2019,year,month,day,merchants_all,Merchants Difference,Difference plus 1
0,1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,22,0.0147,NaN,NaN
1,1,Los Angeles,CA,34.05,-118.24,10039107,2020,2,22,-0.0120,-0.0267,97.33
2,1,Los Angeles,CA,34.05,-118.24,10039107,2020,3,22,-0.2750,-0.263,73.7
3,1,Los Angeles,CA,34.05,-118.24,10039107,2020,4,22,-0.3990,-0.124,87.6
4,1,Los Angeles,CA,34.05,-118.24,10039107,2020,5,22,-0.3170,0.082,108.2
...,...,...,...,...,...,...,...,...,...,...,...,...
733,53,Tulsa,OK,36.15,-95.99,651552,2020,10,22,-0.2530,0.026,102.6
734,53,Tulsa,OK,36.15,-95.99,651552,2020,11,22,-0.2750,-0.022,97.8
735,53,Tulsa,OK,36.15,-95.99,651552,2020,12,22,-0.2430,0.032,103.2
736,53,Tulsa,OK,36.15,-95.99,651552,2021,1,22,-0.2930,-0.05,95
737,53,Tulsa,OK,36.15,-95.99,651552,2021,2,22,-0.3950,-0.102,89.8

In [5]:
#Importing GEO ID's
covid_info = "data/COVID - City - Daily.csv"
covid_info_df = pd.read_csv(covid_info)
covid_info_df

,year,month,day,cityid,case_count,death_count,case_rate,death_rate,new_case_rate,new_death_rate,new_case_count,new_death_count
0,2020,1,21,1,0,0,0.0,0.0,.,.,.,.
1,2020,1,21,2,0,0,0.0,0.0,.,.,.,.
2,2020,1,21,3,0,0,0.0,0.0,.,.,.,.
3,2020,1,21,4,0,0,0.0,0.0,.,.,.,.
4,2020,1,21,5,0,0,0.0,0.0,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...
21831,2021,3,7,49,47230,437,9807.0,90.7,15.3,.089,74,0
21832,2021,3,7,50,139976,780,12062.0,67.2,15.8,.197,183,2
21833,2021,3,7,51,31131,335,6918.0,74.4,17,1.05,77,5
21834,2021,3,7,52,52976,748,7354.0,104.0,19.9,.0397,143,0
21835,2021,3,7,53,71541,723,10980.0,111.0,13,.417,85,3

In [6]:
#replacing all . with NaN
covid_info_df = covid_info_df.replace({'.': "NaN"})
covid_info_df

,year,month,day,cityid,case_count,death_count,case_rate,death_rate,new_case_rate,new_death_rate,new_case_count,new_death_count
0,2020,1,21,1,0,0,0.0,0.0,NaN,NaN,NaN,NaN
1,2020,1,21,2,0,0,0.0,0.0,NaN,NaN,NaN,NaN
2,2020,1,21,3,0,0,0.0,0.0,NaN,NaN,NaN,NaN
3,2020,1,21,4,0,0,0.0,0.0,NaN,NaN,NaN,NaN
4,2020,1,21,5,0,0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21831,2021,3,7,49,47230,437,9807.0,90.7,15.3,.089,74,0
21832,2021,3,7,50,139976,780,12062.0,67.2,15.8,.197,183,2
21833,2021,3,7,51,31131,335,6918.0,74.4,17,1.05,77,5
21834,2021,3,7,52,52976,748,7354.0,104.0,19.9,.0397,143,0
21835,2021,3,7,53,71541,723,10980.0,111.0,13,.417,85,3

In [7]:
#dropping un-needed columns
covid_info_df = covid_info_df.drop(['case_count',
                        'death_count',
                       'case_rate',
                       'death_rate',
                       'new_death_rate',
                       'new_case_count',
                       'new_death_count'], axis = 1)
covid_info_df

       year  month  day  cityid new_case_rate
0      2020      1   21       1           NaN
1      2020      1   21       2           NaN
2      2020      1   21       3           NaN
3      2020      1   21       4           NaN
4      2020      1   21       5           NaN
...     ...    ...  ...     ...           ...
21831  2021      3    7      49          15.3
21832  2021      3    7      50          15.8
21833  2021      3    7      51            17
21834  2021      3    7      52          19.9
21835  2021      3    7      53            13

[21836 rows x 5 columns]

In [8]:
#finding covid new case rate data for the 22nd of each month
day_22_covid = (covid_info_df['day'] == 22)
day_22_covid = covid_info_df[day_22_covid]
day_22_covid

       year  month  day  cityid new_case_rate
53     2020      1   22       1           NaN
54     2020      1   22       2           NaN
55     2020      1   22       3           NaN
56     2020      1   22       4           NaN
57     2020      1   22       5           NaN
...     ...    ...  ...     ...           ...
21142  2021      2   22      49          16.3
21143  2021      2   22      50            22
21144  2021      2   22      51          25.2
21145  2021      2   22      52          22.1
21146  2021      2   22      53          29.2

[742 rows x 5 columns]

In [9]:
#converting the dataset from string to numeric to work with describing, If â€˜coerceâ€™, then invalid parsing will be set as NaN.
# cols = sep_2020_covid_df.columns.drop('year')

# sep_2020_covid_df[cols] = sep_2020_covid_df[cols].apply(pd.to_numeric, errors='coerce')

# sep_2020_covid_df

In [10]:
#***DO NOT RE RUN. RESTART AND CLEAR KERNEL TO RE RUN. just rerunning will keep moving the columns
#moving cityid to the left to math other dataframe
shiftcol = day_22_covid.columns.tolist()
shiftcol = shiftcol[3:] + shiftcol[:3]
day_22_covid = day_22_covid[shiftcol]
day_22_covid

       cityid new_case_rate  year  month  day
53          1           NaN  2020      1   22
54          2           NaN  2020      1   22
55          3           NaN  2020      1   22
56          4           NaN  2020      1   22
57          5           NaN  2020      1   22
...       ...           ...   ...    ...  ...
21142      49          16.3  2021      2   22
21143      50            22  2021      2   22
21144      51          25.2  2021      2   22
21145      52          22.1  2021      2   22
21146      53          29.2  2021      2   22

[742 rows x 5 columns]

In [11]:
merge_cv_mrchnt = month_merge_df_reset.merge(day_22_covid, on=['cityid', 'year', 'month', 'day'])
merge_cv_mrchnt.head(45)

,cityid,cityname,stateabbrev,lat,lon,city_pop2019,year,month,day,merchants_all,Merchants Difference,Difference plus 1,new_case_rate
0,1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,22,0.014700,NaN,NaN,NaN
1,1,Los Angeles,CA,34.05,-118.24,10039107,2020,2,22,-0.012000,-0.0267,97.33,0
2,1,Los Angeles,CA,34.05,-118.24,10039107,2020,3,22,-0.275000,-0.263,73.7,.501
3,1,Los Angeles,CA,34.05,-118.24,10039107,2020,4,22,-0.399000,-0.124,87.6,8.45
4,1,Los Angeles,CA,34.05,-118.24,10039107,2020,5,22,-0.317000,0.082,108.2,9.67
5,1,Los Angeles,CA,34.05,-118.24,10039107,2020,6,22,-0.265000,0.052,105.2,17.3
6,1,Los Angeles,CA,34.05,-118.24,10039107,2020,7,22,-0.296000,-0.031,96.9,31.1
7,1,Los Angeles,CA,34.05,-118.24,10039107,2020,8,22,-0.313000,-0.017,98.3,14.1
8,1,Los Angeles,CA,34.05,-118.24,10039107,2020,9,22,-0.294000,0.019,101.9,10.1
9,1,Los Angeles,CA,34.05,-118.24,10039107,2020,10,22,-0.261000,0.033,103.3,11.2
10,1,Los Angeles,CA,34.05,-118.24,10039107,2020,11,22,-0.256000,0.005,100.5,35.5
11,1,Los Angeles,CA,34.05,-118.24,10039107,2020,12,22,-0.324000,-0.068,93.2,148
12,1,Los Angeles,CA,34.05,-118.24,10039107,2021,1,22,-0.362000,-0.038,96.2,92.3
13,1,Los Angeles,CA,34.05,-118.24,10039107,2021,2,22,-0.333000,0.029,102.9,18.6
14,2,New York City,NY,40.71,-74.01,8336817,2020,1,22,0.002910,NaN,NaN,NaN
15,2,New York City,NY,40.71,-74.01,8336817,2020,2,22,-0.003000,-0.00591,99.409,0
16,2,New York City,NY,40.71,-74.01,8336817,2020,3,22,-0.269000,-0.266,73.4,15
17,2,New York City,NY,40.71,-74.01,8336817,2020,4,22,-0.492000,-0.223,77.7,43.1
18,2,New York City,NY,40.71,-74.01,8336817,2020,5,22,-0.390000,0.102,110.2,9.98
19,2,New York City,NY,40.71,-74.01,8336817,2020,6,22,-0.348000,0.042,104.2,4.24
20,2,New York City,NY,40.71,-74.01,8336817,2020,7,22,-0.289000,0.059,105.9,4.23
21,2,New York City,NY,40.71,-74.01,8336817,2020,8,22,-0.287000,0.002,100.2,3.3
22,2,New York City,NY,40.71,-74.01,8336817,2020,9,22,-0.297000,-0.01,99,4.17
23,2,New York City,NY,40.71,-74.01,8336817,2020,10,22,-0.273000,0.024,102.4,7.38
24,2,New York City,NY,40.71,-74.01,8336817,2020,11,22,-0.292000,-0.019,98.1,21.8
25,2,New York City,NY,40.71,-74.01,8336817,2020,12,22,-0.344000,-0.052,94.8,41.9
26,2,New York City,NY,40.71,-74.01,8336817,2021,1,22,-0.399000,-0.055,94.5,69.1
27,2,New York City,NY,40.71,-74.01,8336817,2021,2,22,-0.420000,-0.021,97.9,49.3
28,3,Chicago,IL,41.88,-87.63,5150233,2020,1,22,-0.024200,NaN,NaN,NaN
29,3,Chicago,IL,41.88,-87.63,5150233,2020,2,22,-0.050700,-0.0265,97.35,0
30,3,Chicago,IL,41.88,-87.63,5150233,2020,3,22,-0.280000,-0.2293,77.07,2.02
31,3,Chicago,IL,41.88,-87.63,5150233,2020,4,22,-0.406000,-0.126,87.4,20.1
32,3,Chicago,IL,41.88,-87.63,5150233,2020,5,22,-0.349000,0.057,105.7,25.1
33,3,Chicago,IL,41.88,-87.63,5150233,2020,6,22,-0.306000,0.043,104.3,6.21
34,3,Chicago,IL,41.88,-87.63,5150233,2020,7,22,-0.294000,0.012,101.2,9.6
35,3,Chicago,IL,41.88,-87.63,5150233,2020,8,22,-0.310000,-0.016,98.4,14.5
36,3,Chicago,IL,41.88,-87.63,5150233,2020,9,22,-0.319000,-0.009,99.1,12.2
37,3,Chicago,IL,41.88,-87.63,5150233,2020,10,22,-0.306000,0.013,101.3,30.5
38,3,Chicago,IL,41.88,-87.63,5150233,2020,11,22,-0.351000,-0.045,95.5,82.6
39,3,Chicago,IL,41.88,-87.63,5150233,2020,12,22,-0.340000,0.011,101.1,48.1
40,3,Chicago,IL,41.88,-87.63,5150233,2021,1,22,-0.357000,-0.017,98.3,34.4
41,3,Chicago,IL,41.88,-87.63,5150233,2021,2,22,-0.396000,-0.039,96.1,11
42,4,Houston,TX,29.76,-95.37,4713325,2020,1,22,0.002650,NaN,NaN,NaN
43,4,Houston,TX,29.76,-95.37,4713325,2020,2,22,0.000262,-0.002388,99.7612,0
44,4,Houston,TX,29.76,-95.37,4713325,2020,3,22,-0.172000,-0.172262,82.7738,.185

In [15]:
keeplast_cv_merch = merge_cv_mrchnt.drop_duplicates(subset=['cityid'], keep = "last")
keeplast_cv_merch

,cityid,cityname,stateabbrev,lat,lon,city_pop2019,year,month,day,merchants_all,Merchants Difference,Difference plus 1,new_case_rate
13,1,Los Angeles,CA,34.05,-118.24,10039107,2021,2,22,-0.333,0.029,102.9,18.6
27,2,New York City,NY,40.71,-74.01,8336817,2021,2,22,-0.420,-0.021,97.9,49.3
41,3,Chicago,IL,41.88,-87.63,5150233,2021,2,22,-0.396,-0.039,96.1,11
55,4,Houston,TX,29.76,-95.37,4713325,2021,2,22,-0.567,-0.24,76,14.5
69,5,Phoenix,AZ,33.45,-112.07,4485414,2021,2,22,-0.293,0.002,100.2,22.1
83,6,San Diego,CA,32.72,-117.16,3338330,2021,2,22,-0.361,0.028,102.8,21.8
97,7,Dallas,TX,32.78,-96.80,2635516,2021,2,22,-0.525,-0.271,72.9,13.7
111,8,Las Vegas,NV,36.17,-115.14,2266715,2021,2,22,-0.284,0.003,100.3,12.1
125,9,Seattle,WA,47.61,-122.33,2252782,2021,2,22,-0.259,0.049,104.9,9.7
139,10,Fort Worth,TX,32.76,-97.33,2102515,2021,2,22,-0.524,-0.246,75.4,19.4
153,11,San Antonio,TX,29.42,-98.49,2003554,2021,2,22,-0.629,-0.252,74.8,42.4
167,12,San Jose,CA,37.34,-121.89,1927852,2021,2,22,-0.405,0.035,103.5,12.3
181,13,Detroit,MI,42.33,-83.05,1749343,2021,2,22,-0.380,-0.023,97.7,9.2
195,14,Philadelphia,PA,39.95,-75.17,1584064,2021,2,22,-0.359,-0.063,93.7,21.8
209,15,Columbus,OH,39.96,-83.00,1316756,2021,2,22,-0.291,-0.007,99.3,15.9
223,16,Austin,TX,30.27,-97.74,1273954,2021,2,22,-0.639,-0.251,74.9,7.49
237,17,Charlotte,NC,35.23,-80.84,1110356,2021,2,22,-0.270,-0.046,95.4,26.5
251,18,Indianapolis,IN,39.77,-86.16,964582,2021,2,22,-0.356,-0.056,94.4,11
265,19,Jacksonville,FL,30.33,-81.66,957755,2021,2,22,-0.278,-0.003,99.7,21.8
279,20,Memphis,TN,35.15,-90.05,937166,2021,2,22,-0.564,-0.328,67.2,8.63
293,21,San Francisco,CA,37.77,-122.42,881549,2021,2,22,-0.512,0.023,102.3,8.38
307,22,El Paso,TX,31.78,-106.44,839238,2021,2,22,-0.254,0.016,101.6,33.9
321,23,Baltimore,MD,39.29,-76.61,593490,2021,2,22,-0.371,-0.022,97.8,9.68
335,24,Portland,OR,45.52,-122.68,812855,2021,2,22,-0.397,-0.009,99.1,7.21
349,25,Boston,MA,42.36,-71.06,803907,2021,2,22,-0.477,-0.029,97.1,23.2
363,26,Oklahoma City,OK,35.47,-97.52,797434,2021,2,22,-0.470,-0.093,90.7,15.7
377,27,Louisville,KY,38.25,-85.76,766757,2021,2,22,-0.422,-0.085,91.5,21.7
391,28,Denver,CO,39.74,-104.99,727211,2021,2,22,-0.279,0.028,102.8,14.5
405,29,Washington,DC,38.91,-77.04,705749,2021,2,22,-0.447,0.046,104.6,15.3
419,30,Nashville,TN,36.16,-86.78,694144,2021,2,22,-0.491,-0.241,75.9,15.4
433,31,Milwaukee,WI,43.04,-87.91,945726,2021,2,22,-0.288,-0.019,98.1,10.3
447,32,Albuquerque,NM,35.09,-106.61,679121,2021,2,22,-0.340,0.018,101.8,14.1
461,33,Tucson,AZ,32.22,-110.93,1047279,2021,2,22,-0.277,0.025,102.5,19.4
475,34,Fresno,CA,36.75,-119.77,999101,2021,2,22,-0.287,0.035,103.5,18.7
489,35,Sacramento,CA,38.58,-121.49,1552058,2021,2,22,-0.339,-0.009,99.1,14.5
503,36,Atlanta,GA,33.75,-84.39,1063937,2021,2,22,-0.322,-0.005,99.5,22
517,37,Kansas City,MO,39.10,-94.58,703011,2021,2,22,-0.258,-0.051,94.9,5.18
531,38,Miami,FL,25.76,-80.19,2716940,2021,2,22,-0.325,0.001,100.1,46.1
545,39,Raleigh,NC,35.78,-78.64,1111761,2021,2,22,-0.295,-0.024,97.6,23.7
557,40,Omaha,NE,41.25,-96.00,571327,2020,12,22,-0.211,-0.017,98.3,64.5
571,41,Oakland,CA,37.80,-122.27,1671329,2021,2,22,-0.365,0.026,102.6,7.99
585,42,Minneapolis,MN,44.98,-93.27,1265843,2021,2,22,-0.264,0.014,101.4,11.8
599,43,Tampa,FL,27.95,-82.46,1471968,2021,2,22,-0.383,-0.006,99.4,24.4
613,44,New Orleans,LA,29.95,-90.07,390144,2021,2,22,-0.462,-0.028,97.2,12.1
627,45,Wichita,KS,37.69,-97.34,516042,2021,2,22,-0.294,-0.022,97.8,16.7
641,46,Cleveland,OH,41.50,-81.69,1235072,2021,2,22,-0.358,-0.034,96.6,12.9
655,47,Bakersfield,CA,35.37,-119.02,900202,2021,2,22,-0.342,0.018,101.8,22.5
669,48,Honolulu,HI,21.31,-157.86,974563,2021,2,22,-0.282,-0.004,99.6,2.89
681,49,Boise,ID,43.62,-116.20,481587,2020,12,22,-0.276,0.008,100.8,89.9
695,50,Salt Lake City,UT,40.76,-111.89,1160437,2021,2,22,-0.247,-0.008,99.2,22
709,51,Virginia Beach,VA,36.85,-75.98,449974,2021,2,22,-0.359,-0.008,99.2,25.2
723,52,Colorado Springs,CO,38.83,-104.82,720403,2021,2,22,-0.291,-0.042,95.8,22.1
737,53,Tulsa,OK,36.15,-95.99,651552,2021,2,22,-0.395,-0.102,89.8,29.2

In [21]:
covid_merchant_df = keeplast_cv_merch.reset_index(drop=True)

In [22]:
covid_merchant_df

,cityid,cityname,stateabbrev,lat,lon,city_pop2019,year,month,day,merchants_all,Merchants Difference,Difference plus 1,new_case_rate
0,1,Los Angeles,CA,34.05,-118.24,10039107,2021,2,22,-0.333,0.029,102.9,18.6
1,2,New York City,NY,40.71,-74.01,8336817,2021,2,22,-0.420,-0.021,97.9,49.3
2,3,Chicago,IL,41.88,-87.63,5150233,2021,2,22,-0.396,-0.039,96.1,11
3,4,Houston,TX,29.76,-95.37,4713325,2021,2,22,-0.567,-0.24,76,14.5
4,5,Phoenix,AZ,33.45,-112.07,4485414,2021,2,22,-0.293,0.002,100.2,22.1
5,6,San Diego,CA,32.72,-117.16,3338330,2021,2,22,-0.361,0.028,102.8,21.8
6,7,Dallas,TX,32.78,-96.80,2635516,2021,2,22,-0.525,-0.271,72.9,13.7
7,8,Las Vegas,NV,36.17,-115.14,2266715,2021,2,22,-0.284,0.003,100.3,12.1
8,9,Seattle,WA,47.61,-122.33,2252782,2021,2,22,-0.259,0.049,104.9,9.7
9,10,Fort Worth,TX,32.76,-97.33,2102515,2021,2,22,-0.524,-0.246,75.4,19.4
10,11,San Antonio,TX,29.42,-98.49,2003554,2021,2,22,-0.629,-0.252,74.8,42.4
11,12,San Jose,CA,37.34,-121.89,1927852,2021,2,22,-0.405,0.035,103.5,12.3
12,13,Detroit,MI,42.33,-83.05,1749343,2021,2,22,-0.380,-0.023,97.7,9.2
13,14,Philadelphia,PA,39.95,-75.17,1584064,2021,2,22,-0.359,-0.063,93.7,21.8
14,15,Columbus,OH,39.96,-83.00,1316756,2021,2,22,-0.291,-0.007,99.3,15.9
15,16,Austin,TX,30.27,-97.74,1273954,2021,2,22,-0.639,-0.251,74.9,7.49
16,17,Charlotte,NC,35.23,-80.84,1110356,2021,2,22,-0.270,-0.046,95.4,26.5
17,18,Indianapolis,IN,39.77,-86.16,964582,2021,2,22,-0.356,-0.056,94.4,11
18,19,Jacksonville,FL,30.33,-81.66,957755,2021,2,22,-0.278,-0.003,99.7,21.8
19,20,Memphis,TN,35.15,-90.05,937166,2021,2,22,-0.564,-0.328,67.2,8.63
20,21,San Francisco,CA,37.77,-122.42,881549,2021,2,22,-0.512,0.023,102.3,8.38
21,22,El Paso,TX,31.78,-106.44,839238,2021,2,22,-0.254,0.016,101.6,33.9
22,23,Baltimore,MD,39.29,-76.61,593490,2021,2,22,-0.371,-0.022,97.8,9.68
23,24,Portland,OR,45.52,-122.68,812855,2021,2,22,-0.397,-0.009,99.1,7.21
24,25,Boston,MA,42.36,-71.06,803907,2021,2,22,-0.477,-0.029,97.1,23.2
25,26,Oklahoma City,OK,35.47,-97.52,797434,2021,2,22,-0.470,-0.093,90.7,15.7
26,27,Louisville,KY,38.25,-85.76,766757,2021,2,22,-0.422,-0.085,91.5,21.7
27,28,Denver,CO,39.74,-104.99,727211,2021,2,22,-0.279,0.028,102.8,14.5
28,29,Washington,DC,38.91,-77.04,705749,2021,2,22,-0.447,0.046,104.6,15.3
29,30,Nashville,TN,36.16,-86.78,694144,2021,2,22,-0.491,-0.241,75.9,15.4
30,31,Milwaukee,WI,43.04,-87.91,945726,2021,2,22,-0.288,-0.019,98.1,10.3
31,32,Albuquerque,NM,35.09,-106.61,679121,2021,2,22,-0.340,0.018,101.8,14.1
32,33,Tucson,AZ,32.22,-110.93,1047279,2021,2,22,-0.277,0.025,102.5,19.4
33,34,Fresno,CA,36.75,-119.77,999101,2021,2,22,-0.287,0.035,103.5,18.7
34,35,Sacramento,CA,38.58,-121.49,1552058,2021,2,22,-0.339,-0.009,99.1,14.5
35,36,Atlanta,GA,33.75,-84.39,1063937,2021,2,22,-0.322,-0.005,99.5,22
36,37,Kansas City,MO,39.10,-94.58,703011,2021,2,22,-0.258,-0.051,94.9,5.18
37,38,Miami,FL,25.76,-80.19,2716940,2021,2,22,-0.325,0.001,100.1,46.1
38,39,Raleigh,NC,35.78,-78.64,1111761,2021,2,22,-0.295,-0.024,97.6,23.7
39,40,Omaha,NE,41.25,-96.00,571327,2020,12,22,-0.211,-0.017,98.3,64.5
40,41,Oakland,CA,37.80,-122.27,1671329,2021,2,22,-0.365,0.026,102.6,7.99
41,42,Minneapolis,MN,44.98,-93.27,1265843,2021,2,22,-0.264,0.014,101.4,11.8
42,43,Tampa,FL,27.95,-82.46,1471968,2021,2,22,-0.383,-0.006,99.4,24.4
43,44,New Orleans,LA,29.95,-90.07,390144,2021,2,22,-0.462,-0.028,97.2,12.1
44,45,Wichita,KS,37.69,-97.34,516042,2021,2,22,-0.294,-0.022,97.8,16.7
45,46,Cleveland,OH,41.50,-81.69,1235072,2021,2,22,-0.358,-0.034,96.6,12.9
46,47,Bakersfield,CA,35.37,-119.02,900202,2021,2,22,-0.342,0.018,101.8,22.5
47,48,Honolulu,HI,21.31,-157.86,974563,2021,2,22,-0.282,-0.004,99.6,2.89
48,49,Boise,ID,43.62,-116.20,481587,2020,12,22,-0.276,0.008,100.8,89.9
49,50,Salt Lake City,UT,40.76,-111.89,1160437,2021,2,22,-0.247,-0.008,99.2,22
50,51,Virginia Beach,VA,36.85,-75.98,449974,2021,2,22,-0.359,-0.008,99.2,25.2
51,52,Colorado Springs,CO,38.83,-104.82,720403,2021,2,22,-0.291,-0.042,95.8,22.1
52,53,Tulsa,OK,36.15,-95.99,651552,2021,2,22,-0.395,-0.102,89.8,29.2

In [23]:
covid_merchant_df.to_csv(r'output_files/covidmerchant.csv', index = False)