In [20]:
# Hospital
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
#from api_keys import g_key

#Matt's code
import sys
path = "/Users/meria/Desktop"
sys.path.insert(0, path)
from apifile import API_KEY
gkey= API_KEY["api_google"]

In [21]:
# Read the  data lat and lon from cities
cities = pd.read_csv("GeoIDs - City.csv")
cities.head()
#Create a new column to storage the Health Score for each city
#Note: The Health Score of each city is defined as:
#      average of the ratings available on google api  for places target_type = "hospital"
#      around 3000 meters of each city location

cities["Health score"] = ""
cities.head()

,cityid,cityname,stateabbrev,statename,statefips,lat,lon,city_pop2019,Health score
0,1,Los Angeles,CA,California,6,34.05,-118.24,10039107,
1,2,New York City,NY,New York,36,40.71,-74.01,8336817,
2,3,Chicago,IL,Illinois,17,41.88,-87.63,5150233,
3,4,Houston,TX,Texas,48,29.76,-95.37,4713325,
4,5,Phoenix,AZ,Arizona,4,33.45,-112.07,4485414,

In [22]:
#Gmaps
gmaps.configure(api_key = gkey)
#location
location = cities[["lat","lon"]]

In [23]:
#geocordinates
target_radius = 3000 #meters
target_type = "hospital"
ratings = "rating"

#set up a parameters dictionary
params = {
    "radius": target_radius,
    "type": target_type,
    "rating": ratings,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [24]:
#Empty counter to iterate over the cities in the for loop
k=0

for col,row in cities[:].iterrows():
    #Get  the Latitude and Longitude.
    lat =row["lat"]
    lng = row["lon"]  
    params["location"] = f"{lat},{lng}"

    # Request to get the Hospital Rating using url and parameters.
    response = requests.get(base_url, params=params)
    city = response.json()
    
    # empty list to get the rating values around the city in the specific radius 
    rating = []
    no_rating = 0
    
    #looking for hospital rating and storing the values in a list when a value is available
    for i in range (0,len(city["results"])+1):
        try:
            rating.append(city["results"][i]["rating"])

        except:
            no_rating = no_rating +1
    
    #print(rating)
    
    #calculate the average of the rating values found
    avg_rating = sum(rating)/len(rating)
    #print(avg_rating)
    
    #insert the rating average in an specific location (row = k) at the cities Data Frame, Health score column
    cities["Health score"].iloc[(k)]=avg_rating
    
    #counter that will go to the next city in the DataFrame
    k=k+1

C:\Users\meria\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [25]:
cities

,cityid,cityname,stateabbrev,statename,statefips,lat,lon,city_pop2019,Health score
0,1,Los Angeles,CA,California,6,34.05,-118.24,10039107,4.23333
1,2,New York City,NY,New York,36,40.71,-74.01,8336817,3.78421
2,3,Chicago,IL,Illinois,17,41.88,-87.63,5150233,4.07778
3,4,Houston,TX,Texas,48,29.76,-95.37,4713325,4.01818
4,5,Phoenix,AZ,Arizona,4,33.45,-112.07,4485414,4.03077
5,6,San Diego,CA,California,6,32.72,-117.16,3338330,3.95385
6,7,Dallas,TX,Texas,48,32.78,-96.80,2635516,3.375
7,8,Las Vegas,NV,Nevada,32,36.17,-115.14,2266715,3.26667
8,9,Seattle,WA,Washington,53,47.61,-122.33,2252782,3.46875
9,10,Fort Worth,TX,Texas,48,32.76,-97.33,2102515,4.1
10,11,San Antonio,TX,Texas,48,29.42,-98.49,2003554,3.58667
11,12,San Jose,CA,California,6,37.34,-121.89,1927852,4.61429
12,13,Detroit,MI,Michigan,26,42.33,-83.05,1749343,3.56
13,14,Philadelphia,PA,Pennsylvania,42,39.95,-75.17,1584064,3.57857
14,15,Columbus,OH,Ohio,39,39.96,-83.00,1316756,3.10769
15,16,Austin,TX,Texas,48,30.27,-97.74,1273954,3.28
16,17,Charlotte,NC,North Carolina,37,35.23,-80.84,1110356,4
17,18,Indianapolis,IN,Indiana,18,39.77,-86.16,964582,3.94545
18,19,Jacksonville,FL,Florida,12,30.33,-81.66,957755,3.74444
19,20,Memphis,TN,Tennessee,47,35.15,-90.05,937166,3.90909
20,21,San Francisco,CA,California,6,37.77,-122.42,881549,4.15
21,22,El Paso,TX,Texas,48,31.78,-106.44,839238,3.4
22,23,Baltimore,MD,Maryland,24,39.29,-76.61,593490,3.70588
23,24,Portland,OR,Oregon,41,45.52,-122.68,812855,4.6
24,25,Boston,MA,Massachusetts,25,42.36,-71.06,803907,4.23333
25,26,Oklahoma City,OK,Oklahoma,40,35.47,-97.52,797434,3.91
26,27,Louisville,KY,Kentucky,21,38.25,-85.76,766757,3.46364
27,28,Denver,CO,Colorado,8,39.74,-104.99,727211,3.28462
28,29,Washington,DC,District of Columbia,11,38.91,-77.04,705749,3.50588
29,30,Nashville,TN,Tennessee,47,36.16,-86.78,694144,4.2
30,31,Milwaukee,WI,Wisconsin,55,43.04,-87.91,945726,3.98462
31,32,Albuquerque,NM,New Mexico,35,35.09,-106.61,679121,3.82
32,33,Tucson,AZ,Arizona,4,32.22,-110.93,1047279,4.33333
33,34,Fresno,CA,California,6,36.75,-119.77,999101,3.8375
34,35,Sacramento,CA,California,6,38.58,-121.49,1552058,3.89231
35,36,Atlanta,GA,Georgia,13,33.75,-84.39,1063937,4.17857
36,37,Kansas City,MO,Missouri,29,39.10,-94.58,703011,3.74444
37,38,Miami,FL,Florida,12,25.76,-80.19,2716940,4.41111
38,39,Raleigh,NC,North Carolina,37,35.78,-78.64,1111761,4.48
39,40,Omaha,NE,Nebraska,31,41.25,-96.00,571327,4.02857
40,41,Oakland,CA,California,6,37.80,-122.27,1671329,3.25455
41,42,Minneapolis,MN,Minnesota,27,44.98,-93.27,1265843,3.1
42,43,Tampa,FL,Florida,12,27.95,-82.46,1471968,3.94444
43,44,New Orleans,LA,Louisiana,22,29.95,-90.07,390144,4.34444
44,45,Wichita,KS,Kansas,20,37.69,-97.34,516042,3.3
45,46,Cleveland,OH,Ohio,39,41.50,-81.69,1235072,4.3
46,47,Bakersfield,CA,California,6,35.37,-119.02,900202,4.2
47,48,Honolulu,HI,Hawaii,15,21.31,-157.86,974563,4.06154
48,49,Boise,ID,Idaho,16,43.62,-116.20,481587,4.40833
49,50,Salt Lake City,UT,Utah,49,40.76,-111.89,1160437,3.175
50,51,Virginia Beach,VA,Virginia,51,36.85,-75.98,449974,5
51,52,Colorado Springs,CO,Colorado,8,38.83,-104.82,720403,4.16364
52,53,Tulsa,OK,Oklahoma,40,36.15,-95.99,651552,3.50909

In [26]:
#cities["RANK"]=
#cities=cities.set_index("cityname")

# ranked 1 (worst) to 5(best)
x = cities["Health score"].rank(ascending=True)

# population. If user does not want to move to city with high pop, ascending = false calls high pop worse.
y = cities["city_pop2019"].rank(ascending=False)

# able to add ranks for overall ranking for a summary score and add to dataframe.
cities['temp'] =  x+y

#able to sort the overall ranked dataframe.
cities.sort_values(by =["temp"],ascending=False)

,cityid,cityname,stateabbrev,statename,statefips,lat,lon,city_pop2019,Health score,temp
50,51,Virginia Beach,VA,Virginia,51,36.85,-75.98,449974,5,105.0
43,44,New Orleans,LA,Louisiana,22,29.95,-90.07,390144,4.34444,100.0
48,49,Boise,ID,Idaho,16,43.62,-116.20,481587,4.40833,99.0
23,24,Portland,OR,Oregon,41,45.52,-122.68,812855,4.6,88.0
29,30,Nashville,TN,Tennessee,47,36.16,-86.78,694144,4.2,86.5
39,40,Omaha,NE,Nebraska,31,41.25,-96.00,571327,4.02857,82.0
24,25,Boston,MA,Massachusetts,25,42.36,-71.06,803907,4.23333,81.5
51,52,Colorado Springs,CO,Colorado,8,38.83,-104.82,720403,4.16364,81.0
46,47,Bakersfield,CA,California,6,35.37,-119.02,900202,4.2,75.5
38,39,Raleigh,NC,North Carolina,37,35.78,-78.64,1111761,4.48,74.0
20,21,San Francisco,CA,California,6,37.77,-122.42,881549,4.15,73.0
32,33,Tucson,AZ,Arizona,4,32.22,-110.93,1047279,4.33333,73.0
31,32,Albuquerque,NM,New Mexico,35,35.09,-106.61,679121,3.82,68.0
45,46,Cleveland,OH,Ohio,39,41.50,-81.69,1235072,4.3,67.0
35,36,Atlanta,GA,Georgia,13,33.75,-84.39,1063937,4.17857,66.0
22,23,Baltimore,MD,Maryland,24,39.29,-76.61,593490,3.70588,66.0
11,12,San Jose,CA,California,6,37.34,-121.89,1927852,4.61429,65.0
25,26,Oklahoma City,OK,Oklahoma,40,35.47,-97.52,797434,3.91,65.0
47,48,Honolulu,HI,Hawaii,15,21.31,-157.86,974563,4.06154,64.0
36,37,Kansas City,MO,Missouri,29,39.10,-94.58,703011,3.74444,63.5
30,31,Milwaukee,WI,Wisconsin,55,43.04,-87.91,945726,3.98462,62.0
52,53,Tulsa,OK,Oklahoma,40,36.15,-95.99,651552,3.50909,61.0
19,20,Memphis,TN,Tennessee,47,35.15,-90.05,937166,3.90909,58.0
17,18,Indianapolis,IN,Indiana,18,39.77,-86.16,964582,3.94545,58.0
44,45,Wichita,KS,Kansas,20,37.69,-97.34,516042,3.3,58.0
16,17,Charlotte,NC,North Carolina,37,35.23,-80.84,1110356,4,56.0
37,38,Miami,FL,Florida,12,25.76,-80.19,2716940,4.41111,56.0
28,29,Washington,DC,District of Columbia,11,38.91,-77.04,705749,3.50588,56.0
33,34,Fresno,CA,California,6,36.75,-119.77,999101,3.8375,51.0
26,27,Louisville,KY,Kentucky,21,38.25,-85.76,766757,3.46364,51.0
18,19,Jacksonville,FL,Florida,12,30.33,-81.66,957755,3.74444,50.5
27,28,Denver,CO,Colorado,8,39.74,-104.99,727211,3.28462,48.0
9,10,Fort Worth,TX,Texas,48,32.76,-97.33,2102515,4.1,48.0
21,22,El Paso,TX,Texas,48,31.78,-106.44,839238,3.4,46.0
42,43,Tampa,FL,Florida,12,27.95,-82.46,1471968,3.94444,45.0
0,1,Los Angeles,CA,California,6,34.05,-118.24,10039107,4.23333,44.5
34,35,Sacramento,CA,California,6,38.58,-121.49,1552058,3.89231,41.0
4,5,Phoenix,AZ,Arizona,4,33.45,-112.07,4485414,4.03077,39.0
2,3,Chicago,IL,Illinois,17,41.88,-87.63,5150233,4.07778,39.0
3,4,Houston,TX,Texas,48,29.76,-95.37,4713325,4.01818,36.0
5,6,San Diego,CA,California,6,32.72,-117.16,3338330,3.95385,35.0
13,14,Philadelphia,PA,Pennsylvania,42,39.95,-75.17,1584064,3.57857,32.0
12,13,Detroit,MI,Michigan,26,42.33,-83.05,1749343,3.56,29.0
10,11,San Antonio,TX,Texas,48,29.42,-98.49,2003554,3.58667,29.0
15,16,Austin,TX,Texas,48,30.27,-97.74,1273954,3.28,26.0
49,50,Salt Lake City,UT,Utah,49,40.76,-111.89,1160437,3.175,26.0
1,2,New York City,NY,New York,36,40.71,-74.01,8336817,3.78421,23.0
8,9,Seattle,WA,Washington,53,47.61,-122.33,2252782,3.46875,22.0
41,42,Minneapolis,MN,Minnesota,27,44.98,-93.27,1265843,3.1,22.0
14,15,Columbus,OH,Ohio,39,39.96,-83.00,1316756,3.10769,21.0
40,41,Oakland,CA,California,6,37.80,-122.27,1671329,3.25455,19.0
6,7,Dallas,TX,Texas,48,32.78,-96.80,2635516,3.375,17.0
7,8,Las Vegas,NV,Nevada,32,36.17,-115.14,2266715,3.26667,14.0

In [45]:
#Exporting the DataFrame with the rank and scores in a csv file and reading the DataFrame
cities_health_df = cities  

cities_health_df.to_csv("cities_health_df.csv")
cities_health_df.head()

,cityid,stateabbrev,statename,statefips,lat,lon,city_pop2019,Health score,RANK,temp
cityname,,,,,,,,,,
Los Angeles,1,CA,California,6,34.05,-118.24,10039107,4.23333,43.5,44.5
New York City,2,NY,New York,36,40.71,-74.01,8336817,3.78421,21.0,23.0
Chicago,3,IL,Illinois,17,41.88,-87.63,5150233,4.07778,36.0,39.0
Houston,4,TX,Texas,48,29.76,-95.37,4713325,4.00909,32.0,36.0
Phoenix,5,AZ,Arizona,4,33.45,-112.07,4485414,4.03077,34.0,39.0