In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# input csv
BLS_MWE_input_csv = "BLS_GEO_OCCUPATION_ALL_df_merge.csv"

#import pretty print
import pprint as pprint

#for sleep
import time

In [10]:
BLS_MWE_MAP = pd.read_csv(BLS_MWE_input_csv,index_col=0)
BLS_MWE_MAP

,"GEO_city,state",year,MWE,MWE_Occupation Type_code,MWE_Occupation Type,MWE_Skill Level,MWE_How Paid,cityid,cityname,stateabbrev,statename,statefips,lat,lon,city_pop2019
0,"Albuquerque, NM",2019,52.28,110000,Management occupations,All levels,Full-time,32,Albuquerque,NM,New Mexico,35,35.09,-106.61,679121
1,"Albuquerque, NM",2019,32.76,130000,Business and financial operations occupations,All levels,Full-time,32,Albuquerque,NM,New Mexico,35,35.09,-106.61,679121
2,"Albuquerque, NM",2019,22.69,150000,Computer and mathematical occupations,Level 05,All workers,32,Albuquerque,NM,New Mexico,35,35.09,-106.61,679121
3,"Albuquerque, NM",2019,48.99,170000,Architecture and engineering occupations,All levels,Full-time,32,Albuquerque,NM,New Mexico,35,35.09,-106.61,679121
4,"Albuquerque, NM",2019,35.44,190000,"Life, physical, and social science occupations",All levels,Full-time,32,Albuquerque,NM,New Mexico,35,35.09,-106.61,679121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,"Bakersfield, CA",2019,19.96,430000,Office and administrative support occupations,All levels,Full-time,47,Bakersfield,CA,California,6,35.37,-119.02,900202
1109,"Bakersfield, CA",2019,26.13,470000,Construction and extraction occupations,All levels,Full-time,47,Bakersfield,CA,California,6,35.37,-119.02,900202
1110,"Bakersfield, CA",2019,25.55,490000,"Installation, maintenance, and repair occupations",All levels,Full-time,47,Bakersfield,CA,California,6,35.37,-119.02,900202
1111,"Bakersfield, CA",2019,22.00,510000,Production occupations,All levels,Full-time,47,Bakersfield,CA,California,6,35.37,-119.02,900202
1112,"Bakersfield, CA",2019,19.50,530000,Transportation and material moving occupations,All levels,Full-time,47,Bakersfield,CA,California,6,35.37,-119.02,900202

In [12]:
# Set occupation here
BLS_MWE_MAP_occ=BLS_MWE_MAP[BLS_MWE_MAP["MWE_Occupation Type_code"]==150000]
BLS_MWE_MAP_occ

,"GEO_city,state",year,MWE,MWE_Occupation Type_code,MWE_Occupation Type,MWE_Skill Level,MWE_How Paid,cityid,cityname,stateabbrev,statename,statefips,lat,lon,city_pop2019
2,"Albuquerque, NM",2019,22.69,150000,Computer and mathematical occupations,Level 05,All workers,32,Albuquerque,NM,New Mexico,35,35.09,-106.61,679121
23,"Atlanta, GA",2019,44.07,150000,Computer and mathematical occupations,All levels,Full-time,36,Atlanta,GA,Georgia,13,33.75,-84.39,1063937
44,"Austin, TX",2019,43.90,150000,Computer and mathematical occupations,All levels,Full-time,16,Austin,TX,Texas,48,30.27,-97.74,1273954
65,"Baltimore, MD",2019,49.68,150000,Computer and mathematical occupations,All levels,Full-time,23,Baltimore,MD,Maryland,24,39.29,-76.61,593490
86,"Boise, ID",2019,37.43,150000,Computer and mathematical occupations,All levels,Full-time,49,Boise,ID,Idaho,16,43.62,-116.20,481587
107,"Charlotte, NC",2019,44.80,150000,Computer and mathematical occupations,All levels,Full-time,17,Charlotte,NC,North Carolina,37,35.23,-80.84,1110356
128,"Chicago, IL",2019,44.24,150000,Computer and mathematical occupations,All levels,Full-time,3,Chicago,IL,Illinois,17,41.88,-87.63,5150233
149,"Cleveland, OH",2019,38.63,150000,Computer and mathematical occupations,All levels,Full-time,46,Cleveland,OH,Ohio,39,41.50,-81.69,1235072
170,"Colorado Springs, CO",2019,46.67,150000,Computer and mathematical occupations,All levels,Full-time,52,Colorado Springs,CO,Colorado,8,38.83,-104.82,720403
191,"Fort Worth, TX",2019,45.60,150000,Computer and mathematical occupations,All levels,Full-time,10,Fort Worth,TX,Texas,48,32.76,-97.33,2102515
212,"Denver, CO",2019,48.12,150000,Computer and mathematical occupations,All levels,Full-time,28,Denver,CO,Colorado,8,39.74,-104.99,727211
233,"Detroit, MI",2019,41.29,150000,Computer and mathematical occupations,All levels,Full-time,13,Detroit,MI,Michigan,26,42.33,-83.05,1749343
254,"El Paso, TX",2019,19.99,150000,Computer and mathematical occupations,Level 05,All workers,22,El Paso,TX,Texas,48,31.78,-106.44,839238
275,"Fresno, CA",2019,20.68,150000,Computer and mathematical occupations,Level 06,All workers,34,Fresno,CA,California,6,36.75,-119.77,999101
296,"Houston, TX",2019,46.88,150000,Computer and mathematical occupations,All levels,Full-time,4,Houston,TX,Texas,48,29.76,-95.37,4713325
317,"Indianapolis, IN",2019,39.88,150000,Computer and mathematical occupations,All levels,Full-time,18,Indianapolis,IN,Indiana,18,39.77,-86.16,964582
338,"Kansas City, MO",2019,39.52,150000,Computer and mathematical occupations,All levels,Full-time,37,Kansas City,MO,Missouri,29,39.10,-94.58,703011
359,"Las Vegas, NV",2019,38.93,150000,Computer and mathematical occupations,All levels,Full-time,8,Las Vegas,NV,Nevada,32,36.17,-115.14,2266715
380,"Los Angeles, CA",2019,46.62,150000,Computer and mathematical occupations,All levels,Full-time,1,Los Angeles,CA,California,6,34.05,-118.24,10039107
401,"Louisville, KY",2019,37.18,150000,Computer and mathematical occupations,All levels,Full-time,27,Louisville,KY,Kentucky,21,38.25,-85.76,766757
422,"Memphis, TN",2019,35.19,150000,Computer and mathematical occupations,All levels,Full-time,20,Memphis,TN,Tennessee,47,35.15,-90.05,937166
443,"Miami, FL",2019,40.34,150000,Computer and mathematical occupations,All levels,Full-time,38,Miami,FL,Florida,12,25.76,-80.19,2716940
464,"Milwaukee, WI",2019,40.02,150000,Computer and mathematical occupations,All levels,Full-time,31,Milwaukee,WI,Wisconsin,55,43.04,-87.91,945726
485,"Minneapolis, MN",2019,45.12,150000,Computer and mathematical occupations,All levels,Full-time,42,Minneapolis,MN,Minnesota,27,44.98,-93.27,1265843
506,"Nashville, TN",2019,38.06,150000,Computer and mathematical occupations,All levels,Full-time,30,Nashville,TN,Tennessee,47,36.16,-86.78,694144
527,"New Orleans, LA",2019,21.05,150000,Computer and mathematical occupations,Level 05,All workers,44,New Orleans,LA,Louisiana,22,29.95,-90.07,390144
548,"Oklahoma City, OK",2019,22.18,150000,Computer and mathematical occupations,Level 06,All workers,26,Oklahoma City,OK,Oklahoma,40,35.47,-97.52,797434
569,"Omaha, NE",2019,39.63,150000,Computer and mathematical occupations,All levels,Full-time,40,Omaha,NE,Nebraska,31,41.25,-96.00,571327
590,"Philadelphia, PA",2019,45.38,150000,Computer and mathematical occupations,All levels,Full-time,14,Philadelphia,PA,Pennsylvania,42,39.95,-75.17,1584064
611,"Phoenix, AZ",2019,42.16,150000,Computer and mathematical occupations,All levels,Full-time,5,Phoenix,AZ,Arizona,4,33.45,-112.07,4485414
632,"Portland, OR",2019,44.72,150000,Computer and mathematical occupations,All levels,Full-time,24,Portland,OR,Oregon,41,45.52,-122.68,812855
653,"Salt Lake City, UT",2019,40.81,150000,Computer and mathematical occupations,All levels,Full-time,50,Salt Lake City,UT,Utah,49,40.76,-111.89,1160437
674,"San Antonio, TX",2019,41.76,150000,Computer and mathematical occupations,All levels,Full-time,11,San Antonio,TX,Texas,48,29.42,-98.49,2003554
695,"San Diego, CA",2019,49.24,150000,Computer and mathematical occupations,All levels,Full-time,6,San Diego,CA,California,6,32.72,-117.16,3338330
716,"Oakland, CA",2019,59.99,150000,Computer and mathematical occupations,All levels,Full-time,41,Oakland,CA,California,6,37.80,-122.27,1671329
737,"San Jose, CA",2019,64.39,150000,Computer and mathematical occupations,All levels,Full-time,12,San Jose,CA,California,6,37.34,-121.89,1927852
758,"Seattle, WA",2019,58.50,150000,Computer and mathematical occupations,All levels,Full-time,9,Seattle,WA,Washington,53,47.61,-122.33,2252782
779,"Tampa, FL",2019,41.05,150000,Computer and mathematical occupations,All levels,Full-time,43,Tampa,FL,Florida,12,27.95,-82.46,1471968
800,"Tucson, AZ",2019,40.13,150000,Computer and mathematical occupations,All levels,Full-time,33,Tucson,AZ,Arizona,4,32.22,-110.93,1047279
821,"Tulsa, OK",2019,35.00,150000,Computer and mathematical occupations,All levels,Full-time,53,Tulsa,OK,Oklahoma,40,36.15,-95.99,651552
842,"Honolulu, HI",2019,29.43,150000,Computer and mathematical occupations,Level 07,All workers,48,Honolulu,HI,Hawaii,15,21.31,-157.86,974563
863,"Virginia Beach, VA",2019,41.66,150000,Computer and mathematical occupations,All levels,Full-time,51,Virginia Beach,VA,Virginia,51,36.85,-75.98,449974
884,"Washington, DC",2019,51.62,150000,Computer and mathematical occupations,All levels,Full-time,29,Washington,DC,District of Columbia,11,38.91,-77.04,705749
905,"Wichita, KS",2019,19.78,150000,Computer and mathematical occupations,Level 06,All workers,45,Wichita,KS,Kansas,20,37.69,-97.34,516042
926,"Boston, MA",2019,49.75,150000,Computer and mathematical occupations,All levels,Full-time,25,Boston,MA,Massachusetts,25,42.36,-71.06,803907
947,"New York City, NY",2019,48.30,150000,Computer and mathematical occupations,All levels,Full-time,2,New York City,NY,New York,36,40.71,-74.01,8336817
968,"Dallas, TX",2019,45.60,150000,Computer and mathematical occupations,All levels,Full-time,7,Dallas,TX,Texas,48,32.78,-96.80,2635516
989,"San Francisco, CA",2019,59.99,150000,Computer and mathematical occupations,All levels,Full-time,21,San Francisco,CA,California,6,37.77,-122.42,881549
1010,"Columbus, OH",2019,42.23,150000,Computer and mathematical occupations,All levels,Full-time,15,Columbus,OH,Ohio,39,39.96,-83.00,1316756
1031,"Jacksonville, FL",2019,37.91,150000,Computer and mathematical occupations,All levels,Full-time,19,Jacksonville,FL,Florida,12,30.33,-81.66,957755
1052,"Sacramento, CA",2019,46.65,150000,Computer and mathematical occupations,All levels,Full-time,35,Sacramento,CA,California,6,38.58,-121.49,1552058
1073,"Raleigh, NC",2019,45.59,150000,Computer and mathematical occupations,All levels,Full-time,39,Raleigh,NC,North Carolina,37,35.78,-78.64,1111761
1094,"Bakersfield, CA",2019,37.81,150000,Computer and mathematical occupations,All levels,Full-time,47,Bakersfield,CA,California,6,35.37,-119.02,900202

In [20]:
BLS_MWE_MAP_occ.dtypes

GEO_city,state               object
year                         object
MWE                          object
MWE_Occupation Type_code      int64
MWE_Occupation Type          object
MWE_Skill Level              object
MWE_How Paid                 object
cityid                        int64
cityname                     object
stateabbrev                  object
statename                    object
statefips                     int64
lat                         float64
lon                         float64
city_pop2019                  int64
dtype: object

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>City</dt><dd>{GEO_city,state}</dd>
<dt>Chosen Occupation</dt><dd>{MWE_Occupation Type}</dd>
<dt>Expected Pay ($/hr)</dt><dd>{MWE}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
BLS_MWE_info = [info_box_template.format(**row) for index, row in BLS_MWE_MAP_occ.iterrows()]
locations = BLS_MWE_MAP_occ[["lat", "lon"]]

In [15]:
# Import API key
#from api_keys import g_key

import sys
path = "/Users/matth/Desktop"
sys.path.insert(0, path)
from API_Keys import api_key
g_key= api_key["Google Maps Platform"]

# configure gmaps with api key
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

# Add marker layer
marker_layer = gmaps.marker_layer(locations, \
                                 info_box_content=[f"{info}" for info in BLS_MWE_info])

# Add layer and Display figure
fig.add_layer(marker_layer)


fig

Figure(layout=FigureLayout(height='420px'))